<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Health Cloud</a>
	
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/blog">Blogs</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/user/your_profile">Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/user/logout">Logout</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/">Login</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/admin">Admin</a>
			</li>
		</ul>
	</div>
</nav>
