.horizontal-center {
	display: flex;	
	justify-content: center;
	align-items: center;
}

.login-signup-form {
	margin-top: 15px;
	border: 1px solid blue;
	border-radius: 3px;
	padding: 15px;
}

.blog-cards {
	padding: 15px;
	margin: 10px;
}

