<!DOCTYPE html>
<html>
	<%- include('../partials/header'); %>
	<div class="container">
		<div class="row justify-content-center">
			<form action="/user/signup" class="login-signup-form" method="post">
				<div class="form-group">
					<input type="email" placeholder="Email" name="Email">
				</div>
				<div class="form-group">
					<input type="text" placeholder="DisplayName" name="DisplayName">
				</div>
				<div class="form-group">
					<input type="password" placeholder="Password" name="Password">
				</div>
				<div class="form-group">
					<input type="text" placeholder="FirstN" name="FirstN">
				</div>
				<div class="form-group">
					<input type="text" placeholder="MidIInitial" name="MidInitial">
				</div>
				<div class="form-group">
					<input type="text" placeholder="LastN" name="LastN">
				</div>
				<div class="form-group horizontal-center">
					<input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
				</div>
			</form>
		</div>
	</div>

	<br>

	<div class="container">
		<div class="row justify-content-center">
			<form action="/user/login" class="login-signup-form" method="post">
				<div class="form-group">
					<input type="email" placeholder="Email" name="Email"> 
				</div>
				<div class="form-group">
					<input type="password" placeholder="Password" name="Password">
				</div>
				<div class="form-group horizontal-center">
					<input type="submit" class="btn btn-primary btn-sm" value="Sign In">
				</div>
			</form>
		</div>
	
	</div>
	<div class="container">
		<div class="row justify-content-center">
			<form action="/admin/login" class="login-signup-form" method="post">
				<div class="form-group">
					<input type="email" placeholder="Email" name="Email"> 
				</div>
				<div class="form-group">
					<input type="password" placeholder="Password" name="Password">
				</div>
				<div class="form-group horizontal-center">
					<input type="submit" class="btn btn-primary btn-sm" value="Admin Sign-in">
				</div>
			</form>
		</div>
	</div>
</html>
