<!DOCTYPE html>
<html>
	<%- include('../partials/header'); %>
	<div class="center-div">
	<form action="/user/signup" method="post">
		<input type="text" placeholder="Email" name="Email">
		<br>
		<input type="text" placeholder="DisplayName" name="DisplayName">
		<br>
		<input type="password" placeholder="Password" name="Password">
		<br>
		<input type="text" placeholder="FirstN" name="FirstN">
		<br>
		<input type="text" placeholder="MidIInitial" name="MidInitial">
		<br>
		<input type="text" placeholder="LastN" name="LastN">
		<br>
		<input type="submit" value="Sign Up">
	</form>

	<br>

	<form action="/user/login" method="post">
		<input type="text" placeholder="Email" name="Email"> 
		<br>
		<input type="password" placeholder="Password" name="Password">
		<br>
		<input type="submit" value="Sign In">
	</form>
	</div>
</html>
