<!DOCTYPE html>
<html>
	<head>
		<title><%= cat_title %></title>
	</head>

	
	<body>
	<h1><%= cat_title %></h1>
		<p>Create a post!</p>
		<form action="/post/create">
			<input type="hidden" name="BlogID" value="<%=BlogID%>" >
			<br>
			<input type="text" name="Title" placeholder="Title">
			<br>
			<input type="text" name="Text" placeholder="Text">
		</form>
	</body>

</html>
